<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org", lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Zamówienia klientów - panel adinistratora</title>
  <meta content="Pizza włoska, robiona z miłością i zaangażowanie. W centrum górnego śląska, w malowiczych Katowicach.">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100&display=swap" rel="stylesheet">
  <link rel="stylesheet" media="screen" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/all.css}" href="/static/css/all.css" media="screen">
  <script src="https://kit.fontawesome.com/b0485a913b.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="general.html :: head-logo-admin" class="header-main"></header>
<nav th:insert="general.html :: navigation-panel" class="nav-menu"></nav>
<div class="order-logo">
  <h1>Rezerwacje - zarządzenie</h1>
</div>
<nav th:insert="general.html :: navigation-booking" class="nav-status"></nav>
<div class="container">
  <main>
    <table>
      <thead>
      <tr>
        <td>Id</td>
        <td>Klient</td>
        <td>Rezerwacja</td>
        <td>Status</td>
        <td>Edycja</td>
      </tr>
      </thead>
      <tbody>
      <tr th:each="booking : ${bookings}">
        <td th:text="${booking.id}"></td>
        <td th:text="|${booking.client.nameAndLastName}  ${booking.client.telephone}|"></td>
        <td th:text="|${booking.date}, ${booking.time}  Ilość osób: ${booking.numberOfPerson}|"></td>
        <td th:text="${booking.status}"></td>
        <td>
          <a th:unless="${booking.status.toString()} eq 'CANCELED'" th:href="|/panel/booking/canceled/${booking.id}|" class="edit-font"><i class="fas fa-ban"></i></a>
          <a th:if="${booking.status.toString()} eq 'NEW'" th:href="|/panel/booking/accept/${booking.id}|" class="edit-font"><i class="fas fa-check"></i></a>
        </td>
        </tr>
      </tbody>
    </table>
  </main>
</div>
<footer th:insert="general.html :: foot"></footer>
</body>
</html>