<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Rezerwacja stolika</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100&display=swap" rel="stylesheet">
  <link rel="stylesheet" media="screen" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/all.css}" href="/static/css/all.css" media="screen">
  <script src="https://kit.fontawesome.com/b0485a913b.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="general.html :: head-logo" class="header-main"></header>
<nav th:insert="general.html :: navigation" class="nav-menu"></nav>
<div class="order-logo">
  <h1>Rezerwacja Stolika</h1>
</div>
<div class="container">
  <main>
    <form method="post" th:action="@{/booking/send}" th:object="${booking}">
      <div>
      <h2>Rezerwacja</h2>
      <label th:object="${client}">
        <h3>Imie i nazwisko</h3>
        <input type="text" th:field="${client.nameAndLastName}" placeholder="Podaj imie i nazwisko..." th:errorclass="error-input">
        <p th:if="${#fields.hasAnyErrors()}" th:errors="*{nameAndLastName}" class="error-message"></p>
      </label>
      <label th:object="${booking}">
        <h3>Data</h3>
        <input type="date" th:field="${booking.date}" th:errorclass="error-input">
        <p th:if="${#fields.hasAnyErrors()}" th:errors="${booking.date}" class="error-message"></p>
      </label>
      <label th:object="${booking}">
        <h3>Godzina</h3>
        <input type="time" th:field="${booking.time}" min="13:00" max="20:00" STEP="1:30:00" th:errorclass="error-input">
        <p th:if="${#fields.hasAnyErrors()}" th:errors="${booking.time}" class="error-message"></p>
      </label>

      <label th:object="${booking}">
        <h3>Ilość osób</h3>
        <input type="number" min="1" max="12" step="1" placeholder="Podaj ilosc osob..." th:field="${booking.numberOfPerson}" th:errorclass="error-input">
        <p th:if="${#fields.hasAnyErrors()}" th:errors="${booking.numberOfPerson}" class="error-message"></p>
      </label>
      <label th:object="${client}">
        <h3>Numer telefonu</h3>
        <input type="text" placeholder="Podaj numer teleonu..." th:field="${client.telephone}" th:errorclass="error-input">
        <p th:if="${#fields.hasAnyErrors()}" th:errors="${client.telephone}" class="error-message"></p>
      </label>
      <label th:object="${client}">
        <h3>Adres email</h3>
        <input type="text" placeholder="Podaj adres email..." th:field="${client.email}" th:errorclass="error-input">
        <p th:if="${#fields.hasAnyErrors()}" th:errors="${client.email}" class="error-message"></p>
      </label>
      <label th:object="${booking}">
        <h3>Uwagi do rezerwacji</h3>
        <textarea th:field="${booking.comments}" id="story" rows="5" cols="33" placeholder="Uwagi do zamówienia..."></textarea>
      </label>
      <button type="submit" class="address-button">Wyślij</button>
      </div>
    </form>
  </main>
</div>
<footer th:insert="general.html :: foot"></footer>
</body>
</html>