<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org", lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Pizzeria Roma - Siemianowice, tanio</title>
    <meta content="Pizza włoska, robiona z miłością i zaangażowanie. W centrum górnego śląska, w malowiczych Katowicach.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}" href="/static/css/all.css" media="screen">
    <script src="https://kit.fontawesome.com/b0485a913b.js" crossorigin="anonymous"></script>

</head>
<body>
<header th:insert="general.html :: head-logo" class="header-main">
    <h1>Pizzeria Roma</h1>
</header>
<nav th:insert="general.html :: navigation" class="nav-menu"></nav>
<div class="container">
    <main>
        <article>
        <p>
            <img src="../../images/chief-pizza.jpg" th:src="@{/images/chief-pizza.jpg}" alt="restaurant chief" class="chief-pizza"/>
            W tak miłej atmosferze można pogawędzić z przyjaciółmi, spotkać się z partnerem biznesowym lub ukochanym, zjeść smaczny posiłek w gronie rodziny.
            Można tu wypić poranną, wyśmienitą kawę Lavazza, podawaną na kilka sposobów, pyszną włoską czekoladę lub delektować się herbatą z dodatkami oraz poprawić nastrój genialnym Tiramisu.
            W menu można znaleźć nie tylko prawdziwie włoską pizzę według sprawdzonej receptury, ale i przeróżne makarony, sałatki, bagietki, zapiekanki, przekąski, dania obiadowe oraz desery. Posiłki smaczne, obfite i na każdą kieszeń.
        </p>
        </article>

    </main>
</div>
<footer th:insert="general.html :: foot" class="foot"></footer>
</body>
</html>