<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org",lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Menu - zamów jedzenie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}" href="/static/css/all.css" media="screen">
    <script src="https://kit.fontawesome.com/b0485a913b.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="general.html :: head-logo" class="header-main"></header>
<nav th:insert="general.html :: navigation" class="nav-menu"></nav>
<div class="container">
  <main th:object="${items}" class="menu-class">
      <div class="restaurant-menu-item" th:each="item : ${items}">
          <h2 th:text="|${item.name} (${item.price} zł)| "></h2>
          <p th:text="${item.shortDescription}"></p>
          <a th:href="|/add/${item.id}|" class="plus-font"><i class="fas fa-plus"></i></a>
      </div>
  </main>
</div>
<footer th:insert="general.html :: foot"></footer>
</body>
</html>