/*                                          */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    width: 100%;
    height: 40vh;
    background-image: url(../images/pizza-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

header h1{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 50px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 26px;
    display: block;
}

nav ul li a:hover{
    color: goldenrod;
    opacity: 0.5;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 10px;
}

.nav-status ul li{
    position: center;
    width: 33.333%;
    text-align: center;
    padding-top: 10px;
}

.nav-status ul li a{
    display: block;
}

.nav-status ul li:nth-child(2n){
    background-color: green;
}


.nav-status ul li:nth-child(3n){
    background-color: #bb3e3e;
}

.nav-status ul li{
    background-color: royalblue;
}

nav .nav-status{
    background-color: transparent;
    width: 60%;
    height: fit-content;
}

.order-button:hover {
    background-color: goldenrod;
}

.address-button:hover{
    background-color: goldenrod;
}

 .edit-font{
    text-decoration: none;
    display: block;
    color: darkcyan;
  }

  tr:nth-child(2n) .edit-font{
      color: #eeeeee;
  }

  .edit-font:hover{
      color: goldenrod;
  }

  tr:nth-child(2n) .edit-font:hover{
      color: goldenrod;
  }


.nav-status{
    width: 60%;
    margin: 0 auto;
    position: center;
}

nav ul{
    list-style: none;
}

nav{
    width: 100%;
    height: 50px;
    background-color: #bb3e3e;
}


.fa-shopping-basket{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.fa-shopping-basket:hover{
    color: goldenrod;
    transition: 0.3s;
}

html{
    font-family: 'Roboto Light', sans-serif;
    color: #223;
    font-size: 12px;
}

.container{
    width: 80vw;
    margin: 0 auto;
    color: cornflowerblue;
    background-color: white;
}

table{
    font-size: 16px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

table td{
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    color: #111111;
    width: fit-content;
    padding: 0 10px;
}

thead{
    background-color: darkcyan;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

thead tr td{
    color: #eeeeee;
}

table tr:nth-child(2n){
    background-color: darkcyan;
}

table tr:nth-child(2n+1) .fas-fa-edit{
    color: darkcyan;
}

table tr:nth-child(2n) td{
    color: #eeeeee;
}



table tr{
    padding-top: 20px;
    padding-bottom: 20px;
}

img{
    width: 100%;
    height: 200px;
}

footer{
    width: 100%;
    background-color: goldenrod;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}

.nav-status ul li{
    line-height: 50px;
}

main{
    width: 80%;
    margin: 20px auto;
}

.restaurant-menu-item{
    box-sizing: border-box;
    position: relative;
    position: center;
    font-size: 20px;
    color: black;
    background-color: white;
    border: 2px solid #556;
    padding-top: 20px;
    padding-bottom: 20px;
}

.restaurant-menu-item:hover{
    border: 4px solid goldenrod;
}

main h2{
    text-align: center;
}

main div a{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

main div p{
    text-align: center;
    margin-bottom: 30px;
}


.fa-plus{
    display: block;
    font-size: 30px;
    color: black
}

.fa-plus:hover{
    color: #bb3e3e;
}

.order-logo{
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.2);
}

#order-price{
    box-sizing: border-box;
    position: relative;
    position: center;

    font-size: 25px;
    color: black;
    background-color: white;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.order-button{
    display: block;
    box-sizing: border-box;
    color: white;
    background-color: royalblue;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    width: 30%;
    position: static;
    bottom: 10px;
    margin-left: 35%;
    margin-right: 35%;
}

form{
    box-sizing: border-box;
    font-size: 20px;
    color: #222233;
    border: 3px solid #bb3e3e;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

label{
    font-size: 20px;
    color: #222233;
    display: block;
    width: 80%;
    margin: 10px auto;
}

label h3{
    text-align: left;
    font-size: 20px;
}

label input{
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
}

form h1{
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}

form button{
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
    background-color: royalblue;
    color: white;
    position: center;
    font-size: 24px;
    width: 30%;
    margin: 0 35%;
}

label textarea{
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
}

select {
    width: 30%;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    padding: 4px 3px 5px 5px;
    outline: none;
    color: white;
    border: 1px solid #C8BFC4;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background-color: darkcyan;
}

.select-container a{
    text-decoration: none;
    box-sizing: border-box;
    width: 20%;
    background-color: royalblue;
    color: white;
    font-size: 20px;
    line-height: 36px;
}

